{% extends 'base.html.twig' %}

{% block title %}Vélo - Kilo{% endblock %}

{% block body %}
<div class="container container-home">

    <div class="d-flex justify-content-center">
        <div class="mb-3" id="map"></div>
    </div>
    <div class="js-stations" data-stations="{{ stations|json_encode|e('html_attr') }}">
    </div>

    <div class="mb-8 travel">
        {{ include('travel/_form.html.twig') }}
    </div>

</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
