{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <nav class="navbar fixed-bottom">

        <a class="navbar-brand" href="#">
        <div class="iconFlex">
                <i class="fas fa-home fa-2x"></i>
            <div>
                <p class="titleNav">Accueil</p>
            </div>
        </div></a>

        <a class="navbar-brand" href="#">
        <div class="iconFlex">
                <i class="fas fa-euro-sign fa-2x"></i>
            <div>
                <p class="titleNav">Tarifs</p>
            </div>
        </div></a>

        <a class="navbar-brand" href="#">
        <div class="iconFlex">
                <i class="fas fa-biking fa-2x"></i>
            <div>
                <p class="titleNav">Disponibilités</p>
            </div>
        </div></a>

        <a class="navbar-brand" href="#">
        <div class="iconFlex">
                <i class="fas fa-trophy fa-2x"></i>
            <div>
                <p class="titleNav">Rang</p>
            </div>
        </div></a>

        <a class="navbar-brand" href="#">
        <div class="iconFlex">
                <i class="fas fa-users fa-2x"></i>
            <div>
                <p class="titleNav">Profil</p>
            </div>
        </div></a>

    </nav>

{% endblock %}
