{% extends '/base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}

    <h1 class="w-100 text-center m-0"> Trajet effectué </h1>
    <div class="d-flex justify-content-center">
        <div class="mb-5" id="mapRoad"></div>
    </div>
    <div class="js-stations" data-stations="{{ stations|json_encode|e('html_attr') }}">
    <div class="js-travel" data-travel="{{ travel|json_encode|e('html_attr') }}">
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('road') }}
{% endblock %}
