@import "~bootstrap/scss/bootstrap";
@import "profile";
@import "navbar.scss";
@import "tarifs.scss";
@import "rank.scss";

#map {
    width: 100vw;
    height: 80vh;
}

.travel {
    height: 40vh;
}
