@import "~bootstrap/scss/bootstrap";
@import "profile";
@import "navbar.scss";
@import "tarifs.scss";
@import "rank.scss";
@import "historic.scss";
@import "login.scss";

$font-title : bellotaregular;


@font-face {
  font-family: bellotaregular;
  src: url('../font/Bellota-Bold.otf');
  src: url('../font/Bellota-BoldItalic.otf'),
  url('../font/Bellota-Italic.otf'),
  url('../font/Bellota-Light.otf') ,
  url('../font/Bellota-LightItalic.otf'),
  url('../font/Bellota-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

#map {
    width: 100vw;
    height: 60vh;
}

#mapRoad {
    width: 100vw;
    height: 60vh;
}

.travel {
    height: 34vh;
}

h1 {
    color: #73be31;
}

#formHome {
    display: flex;
    flex-direction: column;
}

#formTravel {
    background-color: #73be31;
}

.trajetBilan {
    height: 52vh;
}
