.input-login {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
    color: rgba(48, 69, 92, 0.8);
    margin-bottom: 1vh;
    margin-top: 1vh;
}


.btn-general{
    color: #73be31;
    border: #73be31 solid 1px;
    padding:10px;
    font-size: 14px;
    margin-top: 3vh;
}
.container-login{
    margin-top: 5vh;
    padding: 30px;
    border:#73be31 solid 1px;
    border-radius: 10px;
}