nav{
  background-color:whitesmoke;
}

.navbar-brand{
  color: #73be31;
}

a.iframe, a:hover, a:active{
  text-decoration: none;
  cursor: pointer;
}

.titleNav{
  font-size: small;
}

.iconFlex{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height:9vh;
  padding-top: 3vh;
}
