{% extends 'base.html.twig' %}

{% block body %}
<div class="page-historic">
    <div class="resize-page-historic">
        <h1 class="h1-historic">Historique</h1>
        <div class="container-historic">
            <div class="infos-historic">Total</div>
            <div class="infos-historic">
                <div class="infos-div-historic">
                    <a class="title-infos-historic">Distance</a>
                    <a class="result-infos-historic">2 Km</a>
                </div>
                <div class="infos-div-historic">
                    <a class="title-infos-historic">Dépensé</a>
                    <a class="result-infos-historic">100cal</a></div>
                <div class="infos-div-historic">
                    <a class="title-infos-historic">Temps</a>
                    <a class="result-infos-historic">5 min</a>
                </div>
            </div>
        </div>

        <div class="container-historic">
            <div class="infos-historic">DATE</div>
            <div class="infos-historic">
                <div class="infos-div-historic">
                    <a class="title-infos-historic">Distance</a>
                    <a class="result-infos-historic">2 Km</a>
                </div>
                <div class="infos-div-historic">
                    <a class="title-infos-historic">Dépensé</a>
                    <a class="result-infos-historic">100cal</a></div>
                <div class="infos-div-historic">
                    <a class="title-infos-historic">Temps</a>
                    <a class="result-infos-historic">5 min</a>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
