{{ form_start(form, { 'attr' : { 'id': 'formHome' } }) }}
    {{ form_widget(form) }}
    <button id="formTravel" class="btn btn-success">{{ button_label|default('Rechercher') }}</button>
{{ form_end(form) }}
