<nav class="navbar fixed-bottom">

    <a class="navbar-brand" href="#">
        <div class="iconFlex">
            <i class="fas fa-home fa-1x"></i>
            <div class="sizeNav">
                <p class="titleNav">Accueil</p>
            </div>
        </div>
    </a>

    <a class="navbar-brand" href="#">
        <div class="iconFlex">
            <i class="fas fa-euro-sign fa-1x"></i>
            <div class="sizeNav">
                <p class="titleNav">Tarifs</p>
            </div>
        </div>
    </a>

    <a class="navbar-brand" href="#">
        <div class="iconFlex">
            <i class="fas fa-history fa-1x"></i>
            <div class="sizeNav">
                <p class="titleNav">Historique</p>
            </div>
        </div>
    </a>

    <a class="navbar-brand" href="#">
        <div class="iconFlex">
            <i class="fas fa-trophy fa-1x"></i>
            <div class="sizeNav">
                <p class="titleNav">Classement</p>
            </div>
        </div>
    </a>

    <a class="navbar-brand" href="#">
        <div class="iconFlex">
            <i class="fas fa-users fa-1x"></i>
            <div class="sizeNav">
                <p class="titleNav">Profil</p>
            </div>
        </div>
    </a>

</nav>
