{% extends 'base.html.twig' %}

{% block title %}Rank{% endblock %}

{% block body %}

    <h2 class="titleRank">Classement général</h2>

    <div class="cardRank card w-75">
        <div class="card-body">
            <div>
                <p>Hello</p>
            </div>
            <h5 class="card-title"></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div>
                <p class="firstname">Firstname</p>
            </div>
            <div>
                <p class="lastname">Lastname</p>
            </div>
            <div>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
    </div>

{% endblock %}
