{% extends 'base.html.twig' %}

{% block title %}Rank{% endblock %}

{% block body %}

    <div class="page-rank">
        <div class="resize-page-rank">
            <h1 class="h1-rank">Classement</h1>
            <div class="container-rank">
                <div class="infos-div-rank">
                    <a class="title-infos-rank">Nom</a>
                </div>
                <div class="infos-div-rank">
                    <a class="title-infos-rank">Prénom</a>
                </div>
                <div class="infos-div-rank">
                    <a class="title-infos-rank-bold">Distance</a>
                </div>
            </div>

            <!--Exemple 2-->

            <div>
                <div class="container-rank">
                    <div class="infos-div-rank">
                        <a class="title-infos-rank">Nom</a>
                    </div>
                    <div class="infos-div-rank">
                        <a class="title-infos-rank">Prénom</a>
                    </div>
                    <div class="infos-div-rank">
                        <a class="title-infos-rank-bold">Distance</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
